@charset "UTF-8";
@font-face {
    font-family:Roboto;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/roboto-regular.woff2) format("woff2"),
    url(../fonts/roboto-regular.woff) format("woff")
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:700;
    src:url(../fonts/roboto-bold.woff2) format("woff2"), 
    url(../fonts/roboto-bold.woff) format("woff")
}
@font-face{
    font-family:Roboto;
    font-style:italic;
    font-weight:700;
    src:url(../fonts/roboto-bolditalic.woff2) format("woff2"),
    url(../fonts/roboto-bolditalic.woff) format("woff")
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:300;
    src:url(../fonts/roboto-light.woff2) format("woff2"),
    url(../fonts/roboto-light.woff) format("woff")
}
@font-face{
    font-family:Archivo;
    font-style:normal;
    font-weight:900;
    src:url(../fonts/Archivo-Black.woff2) format("woff2"),
    url(../fonts/Archivo-Black.woff) format("woff")
}
body, html, p {
    background:transparent;
    border:0;
    font-size:100%;
    font-weight:400;
    margin:0;
    padding:0
}
body{
        background-color:#fff;
        color:#000;
        font-family:Roboto,sans-serif;
        line-height:1.8;
        margin:1rem auto;
        max-width:66em;
        padding:0 1em
}
footer,header,main {
    background:transparent;
    border:0;
    display:block;
    font-size:100%;
    font-weight:400;
    margin:0;
    padding:0
}
h1,h2,h3,h4,h5,h6{
    background:transparent;
    border:0;
    font-size:100%;
    font-style:normal;
    font-weight:700;
    margin:1rem 0 0;
    padding:0
}
h1{
    font-family:Archivo,sans-serif;
    font-size:160%;
    font-style:normal;
    font-weight:900
}
h2{
    font-size:140%;
    font-style:normal;
    font-weight:700
}
h3{
    font-size:120%;
    font-style:italic;
    font-weight:700
}
h6{
    font-size:90%
}
h3,h5{
    font-style:italic
}
a{
    cursor:pointer
}
h2.incident-type {
    color: #c71f1f;
}
p, ul li {
    font-size: 100%;
    font-weight: 300;
}
a {
    color: #000;
}
main a:link {
    text-decoration: underline;
}
main a:visited {
    text-decoration: underline;
}
main a:hover {
    text-decoration: underline;
}
main a:active {
    text-decoration: underline;
}
main ul li {
    list-style-image: url('../img/check-mark.png');
}
main ul.incident-list li {
    list-style-image: url('../img/arrow-2.png');
}
header#logo {
    max-width: 500px;
    margin: auto;
    min-width: 300px;
}
header#logo img {
    width: 100%;
}
main#main-content {
    max-width: 710px;
    padding-left: 50px;
    padding-right: 10px;
    margin: auto;
}
main h1, main h2 {
    margin-left: -40px;
}
